<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Open Log -- An Open Source Data Logger</title>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/css/bootstrap.css') }}" />
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/slider.css') }}" />

</head>
<body class="container">
<div class="page-header">
<p><strong>open-log:</strong> an open-source online data logger</p>
</div>
<div class="well">
Using FEEDID=3, SOMEVALUE (a floating point number), and SECRETKEY (you have to have a secret key already!) ...<br><br>
Try navigating to: 
<br><br> 
http://www.open-logger.pvos.org/senddata?feedID=FEEDID&secretKey=SECRETKEY&field1=temp&val1=SOMEVALUE 
<br><br> 
And then to: <br><br> 
http://www.open-logger.pvos.org/data/FEEDID/plot 
<br><br> 
You can see all the data here: 
http://www.open-logger.pvos.org/data/FEEDID/csv 
<br><br> 
And you can get the latest data point here (JSON): 
<br><br>
http://www.open-logger.pvos.org/data/FEEDID/csv 
<br><br> and here (CSV): 
<br><br> 
http://www.open-logger.pvos.org/data/FEEDID>csv 
</div>
<div class="well">
Source code is on github <a href="https://github.com/dwblair/open-log">here</a>.
</div>
</body>
</html>
